@tailwind base;
  @tailwind components;
  @tailwind utilities;
  *::selection{
    color: #ffffff;
    background-color:  #e53e3e;
  }
  
    .darkmode {
      --p-color: rgb(255, 255, 255);
      --bg-color: rgb(54, 53, 53);
      --bg-dark:rgb(10, 10, 10);
    }
   
    .lightmode {
      --p-color: rgb(0, 0, 0);
      --bg-color: rgb(245, 245, 245);
      --bg-dark:rgb(188, 188, 188);
    }
  
    .bg-color{
      background-color: var(--bg-color);
    }
    .bg-dark-color{
      background-color: var(--bg-dark);
    }
    .text-color{
      color: var(--p-color);
    }
    .inp-border{
      border: 1px solid var(--p-color);
      
    }
    